<header class="masthead" style="background-image: url('/assets/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Iniciar Sessión</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="login-form container">
  <%= form_tag sessions_path, method: :post do %>
    <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="form-group" >
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, class: "form-control", required: true %>             
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="form-group" >
          <%= label_tag :password, 'Contraseña' %>
          <%= password_field_tag :password, nil, class: 'form-control', required: true %>  
        </div>        
      </div> 
    </div>
    <div class="text-center">
      <%= submit_tag 'Iniciar Sesión', class: 'btn btn-primary' %>          
      <%= link_to  "Cancelar", root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
