<div class="register-form">
    <%= form_for @user do |f| %>
    <%= render 'shared/errors', object: f.object%>
    <h1 class="text-light">Registro</h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :first_name, 'Primer Nombre' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :last_name , 'Apellido'%>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>        
      </div>
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :username,'Usuario'%>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :email, 'Correo'%>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :password, 'Contraseña' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group" >
          <%= f.label :password_confirmation, 'Confirmar contraseña' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Registrarse', class: 'btn btn-primary' %>
      <%= link_to  "Cancelar", root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>