<div class="input-control text full-size" data-role="input">
  <%= f.label :title %>
  <%= f.text_field :title, style: 'padding-right: 33px;', required: false %>  
  <button class="button helper-button clear" tabindex="-1" type="button"><span class="mif-cross"></span></button>
</div>
<div class="input-control textarea full-size" data-role="input">
  <%= f.label :body %>
  <%= f.text_area :body, style: 'padding-right: 33px;', required: false %>  
  <button class="button helper-button clear" tabindex="-1" type="button"><span class="mif-cross"></span></button>
</div>
  <%= f.submit action, class: 'button primary' %>          
  <%= link_to  "Cancel", root_path, class: 'button link' %>
</div>