<div class="row cells12">
    <div class="cell offset2 colspan8">
      <ul class="step-list">
        <% @posts.each do |post| %>
        <li>
          <%= link_to  post_path(post) do %>            
            <h2 class="no-margin-top leader" style="font-size: 3rem;"><strong><%=post.title.capitalize%></strong></h2>
            <hr class="bg-blue">
            <div class="text-accent" style="color:dimgrey">
              <%= markdown(post.body.first(250)+ " .... ")%>
              <br> <br>
              <div class="text-secondary">
                Creado: <%= timeago_tag post.created_at, :lang => :es %></br> 
                by: <%=post.user.username%>
              </div>
            </div>
          <% end %>
          </br> </br>
          <% if current_user == post.user%>          
            <%=render 'post_actions', post: post %>
          <%end%>
        </li>
        <% end %>
      </ul>
      <br><br>
      <div class="align-center">
          <div class="digg_pagination">
            <%= will_paginate @posts, :container => false %>
          </div>
      </div>
    </div>
    <div class="cell"></div>
</div>