<div class="row cells12">
    <div class="cell offset2 colspan8">
      <ul class="step-list">
        <% @posts.each do |post| %>
        <li>
          <%= link_to  post_path(post) do %>            
            <h2 class="no-margin-top leader"><%=post.title%></h2>
            <hr class="bg-blue">
            <div class="text-accent" style="color:dimgrey">
              <%= markdown(post.body.first(250)+ " .... ")%>
              <br> <br>
              <div class="text-secondary">
                Created: <%=time_ago_in_words(post.created_at)%> ago </br> 
                by: <%=post.user.username%>
              </div>
            </div>
          <% end %>
          </br> </br>
          <% if current_user == post.user%>          
            <%=render 'post_actions', post: post %>
          <%end%>
        </li>
        <% end %>
      </ul>
      <br><br>
      <div class="align-center">
          <%= will_paginate @posts %>
      </div>      
    </div>
    <div class="cell"></div>
</div>