<div class="row">
  <div class="col-md-12 col-md-offset-4">
    <% @posts.each do |post| %>
      <div class="post container">
        <h2><%= link_to  post.title, post_path(post) %></h2>
        <small class="post-meta">Publicado por: <a href="javascript:void(0);"><%=post.user.username%></a> <%= timeago_tag post.created_at, :lang => :es %></small>
        <p>
          <%= markdown(post.body.first(250)+ " .... ")%>              
        </p>
        <div>
          <% if current_user == post.user%>          
            <%=render 'post_actions', post: post %>
          <%end%>  
        </div>            
      </div>
      <hr>
    <%end%>
    <div>
      <div class="align-center">
        <div class="digg_pagination">
          <%= will_paginate @posts, :container => false ,previous_label: t("Anterior"), next_label:  t("Siguiente")%>
        </div>
      </div>
    </div>
  </div>
</div>