<div class="row">
  <div class="col-md-12 col-md-offset-6 full-post">
    <h2 class="align-center title"><%=@post.title%></h2>
    <hr>
    <div>
      <div class="body">
          <%=markdown(@post.body)%>          
      </div>
      <br> <br>
      <hr>
      <div class="text-secondary">
        Ultima Edicion: <%= timeago_tag @post.updated_at, :lang => :es %> </br> 
        Creado por: <a href="javascript:void(0);"><%=@post.user.username%></a>
      </div>
    </div>
    </br>
    <% if current_user == @post.user%>          
      <div class="post-actions">
        <%=render 'post_actions', post: @post %>          
      </div>
    <%end%>
    <div class="post-comments">
      <%= render 'comments'%>
      <% if current_user %>
        <%= render 'comments_form'%>    
      <% end %>
    </div>
  </div>
  <div class="cell"></div>
</div>
