<header class="masthead" style="background-image: url('/assets/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%=@post.title.capitalize!%></h1>
          <span class="meta">Creado por
            <a href="javascript:void(0);"><%=@post.user.username%></a>
            hace <%= time_ago_in_words (@post.updated_at)%></span>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%=markdown(@post.body)%>
        <hr>
      </div>
    </div>
  </div>
</article>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">    
    <% if current_user == @post.user%>          
      <div class="post-actions">
        <%=render 'post_actions', post: @post %>          
      </div>
    <%end%>
    <div class="post-comments">
      <%= render 'comments'%>
      <% if current_user %>
        <%= render 'comments_form'%>    
      <% end %>
    </div>
  </div>
  <div class="cell"></div>
</div>
